@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root{
    --color_maroon:#910C00;
    --color_gold:#FEBA29;
    background-color: var(--color_gold);
    font-family: 'Anton', sans-serif;
}

*{
    margin: 0;
    /* border: red 1px dashed; */
}

header{
  background: var(--color_maroon);
  display: flex;
  align-items: center;
  width: 100%;
}

.logo img{
  width: 8rem;
  padding-left: .5em;
}

.logo-name{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.ln1, .ln2{
  color: var(--color_gold);
  height: min-content;
  font-family: poppins;
}
.ln1{
  font-size: 35px;
}
.ln2{
  font-size: 15px;
}

.nav-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-right: 1em;
}
header button{
  width: 200px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
}

span{
  background: #800000;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span{
  width: 100%;
}
button:hover{
  border: none;
}

.button-confirm:active {
  box-shadow: 0px 0px #000000;
  transform: translate(3px, 3px);
}

.button-confirm {
  width: 120px;
  border-radius: 5px;
  border: 2px solid #000000;
  background-color: #FEBA29;
  box-shadow: 4px 4px #000000;
  font-size: 17px;
  font-weight: 500;
  color: #000000;
  cursor: pointer;
}

.button-confirm a{
  color: #751200;
}

/* footer */

footer{
  background-color: var(--color_maroon);
  width: 100%;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2em;
  justify-content: space-around;
}

.row h4{
  border-bottom: 1px solid #FEBA29;
  font-size: 18px;
color: #ffffff;
text-transform: capitalize;
font-weight: 500;
  width: 100px;
}

.row ul{
  margin-top: .5em;
  font-size: 16px;
text-transform: capitalize;
color: #ffffff;
text-decoration: none;
font-weight: 300;
color: #bbbbbb;
display: block;
transition: all 0.3s ease;
}

.row a{
  color: #ffffff;
}

.row ul a:hover{
color: black;
padding-left: 8px;
}

.footer-social-links .social-links a{
  display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(255,255,255,0.2);
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}

.social-links{
  margin-top: 1em;
}

.footer-social-links .social-links a:hover{
color: #24262b;
background-color: #ffffff;
}

.box__copyright{
  align-self: center;
  width: 90%;
}

.box__copyright p{
  margin: .5em;
color: #fff;
  text-align: center;
}

.box__copyright hr{
  border: none;
  height: 2px;
  background-color: #fff;
}




@media (max-width: 720px) {

  header{
      width: 100%;
      flex-wrap: wrap;
      padding-bottom: 1em;
      align-content: center;
      justify-content: center;
      gap: 1em;
  }
  .ln1, .ln2{
      text-align: center;
  }

  /* body */

  .form-container{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1em;
  }
  .form-container form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70%;
      margin-bottom: 1em;
  }

  .logo-container{
      width: 70%;
      margin: 2em 0em 0em 0em;
  }
}

html, body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* height: 100%; */
}

.wrapper{
  width: 500px;
  background: maroon;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(9px);
  color:black;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5em;
  letter-spacing: 1px;
}

.regForm{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 3em 5em;
  gap: 1em;
}

.wrapper h2{
  color: white;
  text-align: center;
}

.wrapper .input-box{
  position: relative;
  width: 100%;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: white;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: black;
  padding: .3em;
}

.input-box input::placeholder{
  color: black;
}

.input-box i{
  position: absolute;
  right: 0px;
  top: 7px;
  color: black;
}

.wrapper {
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 50, 0, .1);
  font-size: 16px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#bt1:active {
  box-shadow: 0px 0px #323232;
  transform: translate(3px, 3px);
}

#bt1 {
  border-radius: 5px;
  border: 2px solid #910C00;
  background-color: #FEBA29;
  box-shadow: 4px 4px #680b03;
  font-size: 20px;
  font-weight: 750;
  color: black;
  cursor: pointer;
  align-self: center;
}
/* #show{
  display: flex;
} */

.showbox{
  display: flex;
  align-items: center;
  gap: .5em;
}





/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "&#10004;";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "&#10006;";
}

.hidden{
  position: absolute;
  visibility: hidden;
}